
/* Estilos globales para el cuerpo */
body {
  padding: 0;
  margin: 0; 
  background-color: #f8f8f8;
  font-family: "San Francisco", BlinkMacSystemFont, "Segoe UI", 
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* Estilos específicos para la barra de navegación */
nav {
 position: fixed;
  top: 0;
  width: 100%;
  background-color: #e5e5e9; 
  padding: 1px 10px 1px 10px;
}

/* Estilos para la lista de navegación en la barra de navegación */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Estilos para los elementos de la lista de navegación */
nav li {
  display: inline-block;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  font-size: 16px; 
}

nav li a:hover {
  background-color: #d1d1d1;
}

nav li a.active {
  background-color:  #007aff;
}

/* Estilos para el contenedor principal */
 #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*  estilos específicos para el componente Home */
.home-container {
  padding: 0; 
  text-align: center;
}

.appName {
  font-size: 24px; 
}