
.gastos-form{
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  row-gap: 300px;
  margin: 20px;
}
.gastos-form div{
  margin: 20px;
}


/* .gastos-form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px; /* Ajusta el ancho según tus necesidades */
/* } */
/* 
.gastos-form-container label {
  margin-bottom: 10px;
}*/

/* .gastos-form-container button {
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #007aff;
  color: #fff;
  border-radius: 10px;
}

.gastos-form-container button:hover {
  background-color: #0056b3;
}  */




/* 
.formFecha{
  background:#fcf2cb ;
  order: 1;
  flex-grow: 5;
}
.formDescription{
  background:#fcf2cb;
  order: 1;
  flex-grow: 5;
}

.formTotal{
  background:#fcf2cb ;
  order: 2;
  flex-grow: 2;
}
.formResponsable{
  background:#fcf2cb ;
  order: 1;
  flex-grow: 5;
} */