
/* 

form{
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 2em);
  row-gap: 2em;
  margin: 15px;
  padding: 10px;

  align-items: center;
 
}

textarea{
  display: block;
 
}

input{
display: block;
align-items: center;
}

.formDescription{

  grid-column: 1;
  grid-row: 1/span 2;
  align-items: center;
  margin: auto;
  
  
}

.formFecha{
  grid-column: 2;
  grid-row: 1;
  align-items: center;
  margin: auto;
  
}
.gastos-form {

  height: 8em;
}

.formTotal{
  align-items: center;
  margin: auto;

} */